@import "../../../../../variables";

.security-privacy {
  width: 90%;

  h2 {
    margin-bottom: 2rem;
  }

  .security-privacy__section {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    input {
      padding: 0.5rem;
      font-size: 1rem;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      background-color: $bg-color;
    }
  }

  .password-section {
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;
  }

  .delete-account-section {
    padding: 1.5rem;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;

    p {
      font-size: 14px;
      color: $negative-color;
    }
  }
}