@import "../../../variables";

.home {
  .hero {
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;

    .hero__title {
      margin: 0 5rem;

      h1 {
        text-align: center;
        font-size: 3rem;
      }
    }
  }

  .container__sections {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    width: 90%;
    margin: 0 auto;
    background: $bg-color-sec;
    border-radius: 7rem;

    .section__description {
      display: flex;
      justify-content: center;
      padding-top: 3rem;

      .section__description-container {
        display: flex;
        align-items: center;
        max-width: 80%;

        &:first-child {
          flex: 1;
          display: flex;
          flex-direction: column;
        }

        &:last-child img {
          width: 40rem;
        }
      }
    }

    .section__features {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      article {
        width: 20rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $bg-color-sec;
        border-radius: 1rem;
        margin: 3rem 0.5rem;
        transition: transform 0.2s ease-out;
        box-shadow: 0px 8px 17px rgba(23, 26, 31, 0.15),
          0px 0px 2px rgba(23, 26, 31, 0.12);

        figure {
          display: flex;
          width: 6rem;
          height: 6rem;
          border-radius: 60%;
          margin-top: -60px;
          position: relative;
          background-color: $primary_color;
          align-items: center;
          justify-content: center;

          svg {
            width: 3rem;
            height: 3rem;
            fill: $text_color-white;
          }
        }

        div {
          text-align: center;
          margin: 1rem;

          h3 {
            font-size: 0.9rem;
            text-transform: uppercase;
            letter-spacing: 0.05rem;
          }
        }
      }
    }

    .section__preview {
      padding: 0 0 3rem 0;
      margin: 0 auto;
      max-width: 60rem;

      .carousel-image {
        max-width: 100%;
        max-height: 100%;
        border-radius: 10px;
        box-shadow: 0px 8px 17px rgba(23, 26, 31, 0.15),
          0px 0px 2px rgba(23, 26, 31, 0.12);
      }
    }
  }

  @media (max-width: 768px) {
    .hero {
      min-height: 40vh;

      .hero__title {
        margin: 0 4rem;

        h1 {
          font-size: 2rem;
        }
      }
    }

    .container__sections {
      border-radius: 90px;
      gap: 3rem;

      .section__description {
        padding-top: 4rem;

        .section__description-container:last-child {
          img {
            width: 30rem
          }
        }
      }
    }
  }

  @media (max-width:480px) {
    .hero {
      .hero__title {
        margin: 0 1rem;

        h1 {
          font-size: 1.7rem;
        }
      }
    }

    .container__sections {
      border-radius: 70px;

      .section__description {

        .section__description-container:last-child {
          img {
            width: 20rem
          }
        }
      }

      .section__features {
        padding-bottom: 4rem;
      }
    }
  }

}