$bg-color: #f7f7f7;
$bg-color-sec: #ffffff;

$primary_color: #fe6f14;
$primary_color-50: #fff7ed;
$primary_color-100: #ffecd4;
$primary_color-200: #ffd5a8;
$primary_color-300: #ffb771;
$primary_color-400: #ff8e38;
$primary_color-500: #ef5107;
$primary_color-600: #c84f03;
$primary_color-700: #c63b08;
$primary_color-800: #9d300f;
$primary_color-900: #7e2a10;
$primary_color-950: #441206;
$primary_color-light: #ffc69e61;

$text_color-white: #ffffff;
$text_color-black: #282828;
$text_color-grey: #383d46;

$negative-color: red;
$positive-color: green;

$focus_ring: 0 0 0 1px $primary_color-300;

$maskbg: #00000026;
$shadow_color: #00000029;