$bg-color: #f7f7f7;

$primary_color: #fe6f14;
$primary_color-50: #fff7ed;
$primary_color-100: #ffecd4;
$primary_color-200: #ffd5a8;
$primary_color-300: #ffb771;
$primary_color-400: #ff8e38;
$primary_color-500: #ef5107;
$primary_color-600: #c84f03;
$primary_color-700: #c63b08;
$primary_color-800: #9d300f;
$primary_color-900: #7e2a10;
$primary_color-950: #441206;
$primary_color-light: #ffc69e61;

$surface-0: #17212f;
$surface-50: #2e3744;
$surface-100: #454d59;
$surface-200: #5d646d;
$surface-300: #747a82;
$surface-400: #8b9097;
$surface-500: #a2a6ac;
$surface-600: #b9bcc1;
$surface-700: #d1d3d5;
$surface-800: #e8e9ea;
$surface-900: #ffffff;

$text_color-white: #fff;
$text_color-black: #282828;
$text_color-grey: #383d46;

$negative-color: red;
$positive-color: green;

$shadow_color: #00000029;

$focus_ring: 0 0 0 1px $primary_color-300;

$maskbg: rgba(0, 0, 0, 0.15);