@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem 0 3rem;

  .header__logo {
    img {
      object-fit: contain;
      max-height: 9vh;
      min-width: 20vh;
    }
  }

  .header__nav {
    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-flex;
      padding-left: 4vh;
      padding-right: 4vh;

      a {
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
          transition-duration: 0.8s;
          transition-timing-function: ease;
          letter-spacing: 0.5vh;
          color: $primary_color-600;
        }
      }
    }
  }

  .header__login {
    display: flex;
    width: 20vh;
    justify-content: center;

    .header__login-btn,
    .header__login-sidebar {
      background-color: $primary_color;
      color: $text_color-white;
      padding: 1.2vh 3.5vh;
      border-radius: 9px;
      cursor: pointer;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      transition: 0.1s;
      opacity: 0.8;
      letter-spacing: 1px;
      box-shadow: $primary_color-600 0px 7px 2px, $text_color-grey 0px 8px 5px;
      margin-bottom: 8px;

      &:hover {
        opacity: 1;
        font-weight: bold;
        color: $text_color-white;
      }

      &:active {
        transform: translateY(5px);
        box-shadow: $primary_color-600 0px 3px 2px, $text_color-grey 0px 3px 5px;
      }

      svg {
        width: 1rem;
        height: 1rem;
        fill: $text_color-white;
      }
    }

    .header__login-sidebar {
      display: none;
    }
  }

  @media (max-width: 768px) {

    padding: 0 2.5rem 0 1.5rem;

    .header__nav,
    .header__login-btn {
      display: none;
    }

    .header__login {
      justify-content: flex-end;

      .header__login-sidebar {
        display: flex;
        font-size: 1.3rem;
        padding: 0.7rem 1rem;
      }
    }
  }

  @media (max-width:480px) {
    padding: 0 2.5rem 0 2rem;
  }
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0 0 1rem;

  a {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.2s;

    &:hover {
      color: $primary_color-600;
    }

    &:last-child {
      margin-top: 2rem;
    }
  }
}