@import 'variables';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 3rem 0 3rem;

  .header__logo {
    img {
      object-fit: contain;
      max-height: 9vh;
      min-width: 20vh;
    }
  }

  .header__nav {
    ul {
      padding: 0;
      margin: 0;
    }

    li {
      display: inline-flex;
      padding-left: 4vh;
      padding-right: 4vh;

      a {
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        transition-duration: 0.5s;
        transition-timing-function: ease;

        &:hover {
          transition-duration: 0.8s;
          transition-timing-function: ease;
          letter-spacing: 0.5vh;
          color: $primary_color-600;
        }
      }
    }
  }

  .header__login {
    display: flex;
    width: 20vh;
    justify-content: center;
  }

  @media (max-width: 768px) {

    padding: 0 2.5rem 0 1.5rem;

    .header__nav {
      display: none;
    }

    .header__login {
      justify-content: flex-end;
    }
  }

  @media (max-width:480px) {
    padding: 0 2.5rem 0 2rem;
  }
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding: 1rem;

  .sidebar-img {
    width: 70%;
    margin: 0 auto;
  }
}