.accounts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
}

.movements__containerMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 99%;
}

.accounts__main {
  background-color: var(--text-color);
  width: 100%;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
}

.accounts__main .material-symbols-rounded {
  text-align: center;
  font-size: 80px;
  opacity: 0.3;
}

.accounts__containerAccounts {
  background-color: var(--text-color);
  margin-top: 20px;
  width: 99%;
  padding: 20px 0 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
}

.accounts__accounts-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.accounts__accounts-text p {
  font-weight: bold;
}

.accounts__accounts-text span {
  cursor: pointer;
}

.accounts__accounts-text span:hover {
  color: var(--primary-color);
}

.accounts__accounts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem;
}

.accounts__account-container {
  margin: 15px;
  width: 300px;
  height: 10rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow-color-primary) 0px 3px 6px, var(--shadow-color-primary) 0px 3px 6px;
  transition: transform 0.3s ease-in-out;
}

.accounts__account-container:hover {
  transform: scale(1.02);
}

.accounts__account-container p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  margin: 20px 0 0 20px;
}

.accounts__account-container span {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin: 0 20px 20px 0;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  .accounts {
    margin: 20px 15px;
  }

  .accounts__containerAccounts {
    margin-bottom: 5rem;
  }

  .accounts__account-container:hover {
    transform: none;
  }

  .accounts__accounts-container {
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .accounts__containerAccounts {
    margin-bottom: 5rem;
  }

  .accounts__account-container:hover {
    transform: none;
  }
}

/* ---------- END RESPONSIVE ---------- */