@import '../../../variables';

.accounts {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  animation: fadeInOpacityTranslate 0.5s ease-in-out;

  .accounts__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;

    .accounts__main-chart {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $bg-color-sec;
      width: 99.9%;
      height: 22rem;
      border-radius: .8rem;
      padding: 1rem 0;
      box-shadow: $shadow_color 0px 1px 4px;

      div {
        animation: fadeInOpacity 0.6s ease-in-out;
      }
    }
  }

  .accounts__container {
    background-color: $bg-color-sec;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 0;
    border-radius: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: $shadow_color 0px 1px 4px;

    .accounts__container-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      margin-bottom: 1rem;

      p {
        font-weight: bold;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        &:hover {
          fill: $primary_color;
        }
      }
    }

    .accounts__container-progress {
      padding: 0 2rem 1rem;
    }

    .accounts__container-items {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 2rem 1rem;
      gap: .4rem;
      animation: fadeInOpacity 0.6s ease-in-out;


      @media (max-width: 768px) {
        padding: 0 1.5rem 1rem;
      }

      @media (max-width: 480px) {
        padding: 0 1rem 1rem;
      }
    }
  }

  @media (max-width: 768px) {
    .accounts__container {
      .accounts__container-text {
        padding: 0 1.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    .recharts-responsive-container {
      width: 100% !important;
      margin-left: -1rem;
    }

    .accounts__container {
      .accounts__container-text {
        padding: 0 1rem;
      }
    }
  }
}