.accounts {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 30px;
}
.movements__containerMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 98%;
}
.accounts__main {
  background-color: var(--color-white);
  width: 100%;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.accounts__main h2 {
  font-size: 2.5rem;
  margin: 1rem;
}
.accounts__main p.positive-balance {
  color: green;
}
.accounts__main p.negative-balance {
  color: red;
}
.accounts__main p > span {
  padding: 3px 7px;
  border-radius: 5px;
  -webkit-border-radius: 8px;
  color: var(--color-grey);
  background-color: var(--color-light_orange);
}

.accounts__containerAccounts {
  background-color: var(--color-white);
  margin-top: 20px;
  width: 98%;
  padding: 20px 0 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* select mui */
div.MuiInputBase-root.css-1a2qpli {
  border-radius: 15px;
}
/* dev */
.css-q8hpuo-MuiFormControl-root > div {
  border-radius: 15px;
}

.accounts__accounts-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}
.accounts__accounts-text p {
  font-weight: bold;
}
.accounts__accounts-text span {
  cursor: pointer;
}
.accounts__accounts-text span:hover {
  color: var(--color-orange);
}

.accounts__accounts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 1rem;
}

.accounts__account-container {
  margin: 15px;
  width: 300px;
  height: 10rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: transform 0.3s ease-in-out;
}
.accounts__account-container:hover {
  transform: scale(1.02);
}
.accounts__account-container p {
  font-size: 1.5rem;
  text-align: left;
  font-weight: bold;
  margin: 20px 0 0 20px;
}
.accounts__account-container span {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: right;
  margin: 0 20px 20px 0;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .accounts__containerAccounts {
    margin-bottom: 5rem;
  }
  .accounts__account-container:hover {
    transform: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
  .accounts__containerAccounts {
    margin-bottom: 5rem;
  }
  .accounts__account-container:hover {
    transform: none;
  }
}
/* ---------- FIN RESPONSIVE ---------- */
