@import '../../../variables';

.accounts {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .accounts__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 100%;

    .accounts__main-chart {
      background-color: $text_color-white;
      width: 99.9%;
      border-radius: 20px;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: $shadow_color 0px 1px 4px;
    }
  }

  .accounts__container {
    background-color: $text_color-white;
    margin-top: 20px;
    width: 100%;
    padding: 20px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: $shadow_color 0px 1px 4px;

    .accounts__container-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      margin-bottom: 20px;

      p {
        font-weight: bold;
      }

      span {
        cursor: pointer;

        &:hover {
          color: $primary_color;
        }
      }
    }

    .accounts__container-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 1rem;
    }
  }

  @media (max-width: 768px) {}

  @media (max-width: 480px) {
    .recharts-responsive-container {
      width: 100% !important;
      margin-right: 20px;
    }
  }
}