.annualReport {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 30px;
}

.annualReport__containerMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 98%;
}

.css-q8hpuo-MuiFormControl-root > div {
  border-radius: 15px;
}

.annualReport__containerMain-chart {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20rem;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--color-white);
}
.MuiChartsLegend-series:first-child rect {
  fill: var(--color-orange-400);
}
.MuiChartsLegend-series:last-child rect {
  fill: var(--color-orange-800);
}
.css-10vg0a6-MuiResponsiveChart-container .css-1vuxth3-MuiBarElement-root {
  fill: var(--color-orange-400);
}
.css-10vg0a6-MuiResponsiveChart-container .css-6kig8r-MuiBarElement-root {
  fill: var(--color-orange-800);
}
.css-k7cvcj-MuiChartsTooltip-mark {
  background-color: var(--color-orange) !important;
}
.css-1vc7vxh-MuiChartsTooltip-mark {
  background-color: var(--color-orange-800) !important;
}

.annualReport__containerMain__containerBalance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 35%;
  height: 4rem;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--color-white);
}
.annualReport__containerMain__containerBalance span {
  font-size: 3rem;
}
.income span {
  color: var(--color-orange-400);
}
.expenses span {
  color: var(--color-orange-900);
}
.annualReport__containerMain__containerBalance p {
  font-size: 1.5rem;
}

.annualReport__category {
  background-color: var(--color-white);
  margin-top: 20px;
  width: 98%;
  padding: 20px 0 20px 0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.annualReport__category-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  margin-bottom: 20px;
}
.annualReport__category-text p {
  font-weight: bold;
}
.annualReport__category-text span {
  cursor: pointer;
}
.annualReport__category-text span:hover {
  color: var(--color-orange);
}

.annualReport__category-table {
  padding: 0 2rem 1rem 2rem;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 490px) {
  /* Estilos para dispositivos móviles */
  .dashboard_container {
    margin-top: 0;
  }
  .annualReport__category {
    margin-bottom: 5rem;
  }
  .annualReport__containerMain-chart {
    display: flex;
    padding: 20px 0 0 0;
    height: 14rem;
  }
  .annualReport__containerMain-chart > div {
    margin-left: 5px;
  }
  .annualReport__containerMain__containerBalance {
    width: 45%;
    height: 3rem;
    gap: 10px;
    padding: 20px 0 20px 0;
  }
  .annualReport__containerMain__containerBalance span {
    font-size: 2rem;
  }
  .annualReport__containerMain__containerBalance p {
    font-size: 1rem;
  }

  .annualReport__category-table {
    padding: 0 1rem 1rem 1rem;
  }
}
@media (min-width: 491px) and (max-width: 767px) {
  /* Estilos para tablets pequeñas */
  .dashboard_container {
    margin-top: 0;
  }
  .annualReport__category {
    margin-bottom: 5rem;
  }
  .annualReport__containerMain__containerBalance {
    gap: 10px;
  }
  .annualReport__containerMain__containerBalance span {
    font-size: 2.2rem;
  }
  .annualReport__containerMain__containerBalance p {
    font-size: 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
  .dashboard_container {
    margin-top: 0;
  }
  .annualReport__category {
    margin-bottom: 5rem;
  }
}

/* ---------- FIN RESPONSIVE ---------- */
