.annualReport {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
}

.annualReport__containerMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  width: 99%;
}

.annualReport__containerMain-year{
  width: 100%;
}

.annualReport__containerMain-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22rem;
  padding-top: 1rem;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.annualReport__containerMain-chart .material-symbols-rounded {
  text-align: center;
  font-size: 80px;
  opacity: 0.3;
}

.annualReport__containerMain-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.annualReport__balance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  width: 30%;
  height: 4rem;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.annualReport__balance span {
  font-size: 3rem;
}

.income span {
  color: var(--primary-color-400);
}

.expenses span {
  color: var(--primary-color-900);
}

.annualReport__balance p {
  font-size: 1.5rem;
}

.annualReport__containerCategory {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  width: 99%;
  padding: 20px 0 20px 0;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.annualReport__category-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.annualReport__category-text p {
  font-weight: bold;
}

.annualReport__containerCategory-formCategoryAdd, .annualReport__containerCategory-formCategoryRemove{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.annualReport__category-table {
  padding: 0 2rem 1rem 2rem;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  .annualReport {
    margin: 20px 15px;
  }

  .annualReport__containerMain-balance {
    flex-direction: column;
    height: 11rem;
    gap: 10px;
    padding: 0;
  }

  .annualReport__containerMain-balance div {
    height: 3rem;
  }

  .annualReport__balance {
    width: 100%;
  }

  .annualReport__balance span {
    font-size: 2rem;
  }

  .annualReport__balance p {
    font-size: 1.2rem;
  }

  .annualReport__containerCategory {
    margin-bottom: 5rem;
  }

  .annualReport__category-table {
    padding: 0 1rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .annualReport__containerMain-balance {
    gap: 10px;
  }

  .annualReport__balance {
    width: 100%;
  }

  .annualReport__containerCategory {
    margin-bottom: 5rem;
  }
}

/* ---------- END RESPONSIVE ---------- */