@import '../../../variables';

.annualReport {
  display: flex;
  align-items: center;
  flex-direction: column;

  .annualReport__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    width: 99.9%;
    ;

    .annualReport__main-year {
      width: 100%;
    }

    .annualReport__main-balance {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      width: 100%;

      .income,
      .expenses,
      .edbita {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 20px;
        width: 30%;
        height: 4rem;
        border-radius: 20px;
        padding: 20px 0;
        box-shadow: $shadow_color 0px 1px 4px;
        background-color: $text_color-white;

        span {
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }

  }

  .annualReport__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    width: 99%;
    padding: 20px 0;
    border-radius: 20px;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $text_color-white;

    .annualReport__categories-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 40px;
      margin-bottom: 20px;

      p {
        font-weight: bold;
      }

      .button-action {
        cursor: pointer;
      }
    }
  }


  @media (max-width: 768px) {
    .annualReport__main {
      .annualReport__main-balance {

        .income,
        .expenses,
        .edbita {
          height: 3.2rem;

          span {
            font-size: 2rem;
          }

          p {
            font-size: 1.1rem;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    .annualReport__main {
      .recharts-responsive-container {
        width: 100% !important;
        margin-right: 20px;
      }

      .annualReport__main-balance {
        flex-direction: column;

        .income,
        .expenses,
        .edbita {
          width: 100%;

          span {
            font-size: 2.5rem;
          }

          p {
            font-size: 1.3rem;
          }
        }
      }
    }
  }

}