@import '../../../variables';

.dashboard {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 90px 1fr;

  grid-template-areas:
    "Nav Header"
    "Nav Content";

  .dashboard__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 280px;
    z-index: 1000;
    width: calc(100% - 280px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 20px 0 0;

    .dashboard__header-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      width: 100%;
      border-radius: 20px;
      background-color: $text_color-white;
      box-shadow: $shadow_color 0px 1px 4px;

      span.spiner {
        color: $primary_color;
        font-weight: 600;
        cursor: pointer;
      }

      .dashboard__header-date {
        padding: 10px;
        background-color: $primary_color-light;
        color: $primary_color;
        border-radius: 8px;
      }

      .dashboard__header-avatar {
        cursor: pointer;
        margin-right: 30px;
        width: 40px;
        height: 40px;
        border-radius: 8px;
        transition: background-color 0.2s ease-in-out;

        span {
          color: $text_color-white;
        }

        &:hover {
          background-color: $primary_color-600;
        }
      }
    }
  }

  .dashboard__nav {
    grid-area: Nav;
    position: fixed;
    height: 100vh;
    width: 280px;
    padding: 10px 20px;
    overflow-y: auto;
    z-index: 1000;

    .dashboard__nav-container {
      height: 100%;
      border-radius: 20px;
      background-color: $text_color-white;
      box-shadow: $shadow_color 0px 1px 4px;

      .dashboard__nav-img {
        display: flex;
        justify-content: center;

        img {
          margin-top: 20px;
          width: 75%;
        }
      }

      .dashboard__nav-nav {
        padding: 0;

        display: flex;
        align-items: center;
        flex-direction: column;

        ul {
          list-style-type: none;
          padding: 0;
          margin: 40px 0 0 0;


          li {
            display: flex;
            align-items: center;
            padding: 10px;
            margin-bottom: 20px;
            text-decoration: none;
            cursor: pointer;

            &:hover {
              color: $primary_color;
            }
          }

          span {
            font-size: 30px;
            margin-right: 20px;
          }

          .active {
            color: $text_color-white;
            background-color: $primary_color;
            border-radius: 10px;
            transition: background-color 0.5s ease, color 0.2s ease;

            &:hover {
              color: $text_color-white;
            }

          }
        }
      }
    }
  }

  .dashboard__container-nav2 {
    display: none;
  }

  .dashboard__content {
    grid-area: Content;
    width: 100%;
    min-height: calc(100vh - 80px);
    margin: 1rem 0 10px;
    padding-right: 20px;
  }

  @media (max-width: 768px) {

    display: flex;
    flex-direction: column;

    .dashboard__header {
      padding: 0 20px;
      margin-top: 10px;
      left: 0;
      width: 100%;
    }

    .dashboard__nav {
      display: none;
    }

    .dashboard__container-nav2 {
      display: flex;
      position: fixed;
      justify-content: center;
      bottom: 0;
      width: 100%;
      z-index: 9999;

      .dashboard__nav2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
        margin: 10px 20px;
        width: 100%;
        height: 4rem;
        border-radius: 20px;
        background-color: $text_color-white;
        box-shadow: $shadow_color 0px 1px 4px;

        span {
          cursor: pointer;
          font-size: 2rem;
          margin-top: 6px;

          :hover {
            color: $primary_color;
          }
        }

        .active {
          color: $primary_color;
        }

      }
    }

    .dashboard__content {
      padding: 0 20px;
      margin: 6.3rem 0;
    }

  }

  @media (max-width: 480px) {
    .dashboard__header {
      padding: 0 10px;

      .dashboard__header-container {
        justify-content: center;

        .dashboard__header-avatar {
          margin-right: 0;
        }
      }
    }

    .dashboard__container-nav2 {
      .dashboard__nav2 {
        margin: 10px 10px;
      }
    }

    .dashboard__content {
      padding: 0 10px;
    }
  }

}