.dashboard {
  display: grid;
  grid-template-columns: 250px 5.7fr;
  grid-template-rows: 60px 1.7fr;
  grid-template-areas:
    "Nav Header"
    "Nav Dashboard";
}

.dashboard__container-header {
  grid-area: Header;
}

.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
  margin: 10px 30px;
  height: 100%;
  border-radius: 20px;
  background-color: var(--text-color);
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
}

.dashboard__header .active {
  color: var(--primary-color);
}

.dashboard__header .spiner {
  color: var(--primary-color);
  font-weight: 600;
  cursor: pointer;
}

.dashboard__header-date {
  padding: 10px;
  background-color: var(--primary-color-light);
  color: var(--primary-color);
  border-radius: 8px;
}

.dashboard__header-avatar {
  cursor: pointer;
  margin-right: 40px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.dashboard__header-avatar:hover {
  transform: scale(1.1);
}

.dashboard__container-nav {
  grid-area: Nav;
  position: fixed;
  width: 250px;
  height: calc(100vh - 60px);
  z-index: 1000;
}

.dashboard__nav {
  padding: 0;
  margin: 10px 30px;
  width: calc(100% - 20px);
  min-height: calc(100vh - 20px);
  height: calc(100% - 20px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--text-color);
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
}

.dashboard__nav-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.dashboard__nav-img img {
  width: 80%;
}

.dashboard__nav-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.dashboard__nav-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
}

.dashboard__nav-nav span {
  font-size: 30px;
  margin-right: 20px;
}

.dashboard__nav-nav li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}

.dashboard__nav-nav li:hover {
  color: var(--primary-color);
}

.dashboard__nav-nav .active {
  color: var(--text-color);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dashboard__nav-nav .active:hover {
  color: var(--text-color);
}

.dashboard__container-nav2 {
  display: none;
  z-index: 9999;
}

.dashboard__container {
  grid-area: Dashboard;
  width: 100%;
  margin-top: 20px;
  min-height: calc(100vh - 80px);
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .dashboard__header {
    height: 4rem;
    justify-content: space-between;
    padding: 0;
    margin: 10px 15px;
  }

  .dashboard__header p {
    margin-left: 2rem;
  }

  .dashboard__header div {
    margin-right: 2rem;
  }

  .dashboard__header .spiner {
    margin-left: 2rem;
  }

  .dashboard__container-nav {
    display: none;
  }

  .dashboard__container-nav2 {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
  }

  .dashboard__nav2 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    margin: 10px 15px;
    width: 100%;
    height: 4rem;
    border-radius: 20px;
    background-color: var(--text-color);
    box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  }

  .dashboard__nav2 span {
    cursor: pointer;
    font-size: 2rem;
    margin-top: 6px;
  }

  .dashboard__nav2 span:hover {
    color: var(--primary-color);
  }

  .dashboard__nav2 .active {
    color: var(--primary-color);
  }

  .dashboard__nav2 .active:hover {
    color: var(--text-color);
  }

  .dashboard__container {
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .dashboard__header {
    height: 4rem;
    justify-content: space-between;
    padding: 0;
    margin: 10px 30px;
  }

  .dashboard__header p {
    margin-left: 2rem;
  }

  .dashboard__header div {
    margin-right: 2rem;
  }

  .dashboard__header .spiner {
    margin-left: 2rem;
  }

  .dashboard__header-date {
    padding: 7px;
  }

  .dashboard__container-nav {
    display: none;
  }

  .dashboard__container-nav2 {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
  }

  .dashboard__nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 10px 30px;
    width: 50%;
    height: 4rem;
    border-radius: 20px;
    background-color: var(--text-color);
    box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  }

  .dashboard__nav2 span {
    cursor: pointer;
    font-size: 2.3rem;
    margin-top: 6px;
  }

  .dashboard__nav2 span:hover {
    color: var(--primary-color);
  }

  .dashboard__nav2 .active {
    color: var(--primary-color);
  }

  .dashboard__nav2 .active:hover {
    color: var(--text-color);
  }

  .dashboard__container {
    margin-top: 0;
  }
}

/* ---------- END RESPONSIVE ---------- */