@import '../../../variables';

.dashboard {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 90px 1fr;

  grid-template-areas:
    "Nav Header"
    "Nav Content";

  .dashboard__header {
    position: fixed;
    top: 0;
    right: 0;
    left: 280px;
    z-index: 999;
    width: calc(100% - 280px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1rem 0 0;

    .dashboard__header-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 2rem;
      width: 100%;
      border-radius: 1rem;
      background-color: $bg-color-sec;
      box-shadow: $shadow_color 0px 1px 4px;
      transition: background-color 0.3s ease, backdrop-filter 0.3s ease;

      svg {
        fill: $primary_color;
        height: 1.5rem;
        width: 1.5rem;
        cursor: pointer;
      }

      .dashboard__header-date {
        padding: .5rem;
        background-color: $primary_color-light;
        color: $primary_color;
        border-radius: .5rem;
      }

      .dashboard__header-avatar {
        cursor: pointer;
        margin-right: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: .5rem;
        transition: background-color 0.2s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: inherit;
        }

        span {
          color: $text_color-white;
        }

        &:hover {
          background-color: $primary_color-600;
        }
      }
    }
  }

  .dashboard__nav {
    grid-area: Nav;
    position: fixed;
    height: 100vh;
    width: 280px;
    padding: 1rem;
    overflow-y: auto;
    z-index: 999;

    .dashboard__nav-container {
      height: 100%;
      border-radius: 1rem;
      background-color: $bg-color-sec;
      box-shadow: $shadow_color 0px 1px 4px;

      .dashboard__nav-img {
        display: flex;
        justify-content: center;

        img {
          margin-top: 1rem;
          width: 75%;
        }
      }

      .dashboard__nav-nav {
        padding: 0;

        display: flex;
        align-items: center;
        flex-direction: column;

        ul {
          list-style-type: none;
          padding: 0;

          li {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            text-decoration: none;
            cursor: pointer;

            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: $text_color-black;
            }

            p {
              margin: 0;
            }

            &:hover {
              color: $primary_color;

              svg {
                fill: $primary_color;
              }
            }
          }

          .active {
            background-color: $primary_color;
            border-radius: .8rem;
            transition: background-color 0.5s ease, color 0.2s ease;
            color: $text_color-white;

            svg {
              fill: $text_color-white;
            }

            &:hover {
              color: $text_color-white;

              svg {
                fill: $text_color-white;
              }
            }
          }
        }
      }
    }
  }

  .dashboard__container-nav2 {
    display: none;
  }

  .dashboard__content {
    grid-area: Content;
    width: 100%;
    min-height: calc(100vh - 80px);
    margin: 1rem 0;
    padding-right: 1rem;
  }

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;

    .dashboard__header {
      padding: 0 1rem;
      margin-top: .8rem;
      left: 0;
      width: 100%;

      .dashboard__header-container {
        &.scrolled {
          background-color: rgba(255, 255, 255, 0.253);
          backdrop-filter: blur(.8rem);
        }
      }
    }

    .dashboard__nav {
      display: none;
    }

    .dashboard__container-nav2 {
      display: flex;
      position: fixed;
      justify-content: center;
      bottom: 0;
      width: 100%;
      z-index: 999;

      .dashboard__nav2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        margin: .8rem 1rem;
        width: 100%;
        height: 4rem;
        border-radius: 1rem;
        background-color: $bg-color-sec;
        box-shadow: $shadow_color 0px 1px 4px;

        span {
          position: relative;
          cursor: pointer;
          font-size: 2rem;

          div {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.2rem;

            svg {
              width: 1.5rem;
              height: 1.5rem;
              fill: $text_color-black;
            }

            span {
              margin: 0;
              font-size: 0.8rem;
              color: $text_color-black;
            }
          }

          p {
            margin: 0;
          }

          &:hover {
            color: $primary_color;

            svg {
              fill: $primary_color;
            }

            span {
              color: $primary_color;
            }
          }
        }

        .active {
          svg {
            fill: $primary_color;
          }

          span {
            color: $primary_color;
          }
        }
      }
    }

    .dashboard__content {
      padding: 0 1rem;
      margin: 6.3rem 0;
    }
  }

  @media (max-width: 480px) {
    .dashboard__header {
      padding: 0 .5rem;

      .dashboard__header-container {
        justify-content: space-around;

        .dashboard__header-avatar {
          margin-right: 0;
        }
      }
    }

    .dashboard__container-nav2 {
      .dashboard__nav2 {
        margin: .5rem;
      }
    }

    .dashboard__content {
      padding: 0 .5rem;
    }
  }
}

.p-sidebar {
  z-index: 1000;

  .p-sidebar-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .profile__header-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      .profile__header {
        width: 90%;
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;

        .profile__header-avatar {
          color: $text_color-white;
          font-size: 2rem;
          border-radius: .8rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: inherit;
          }
        }

        .profile__header-name {
          line-height: .1rem;
        }
      }

      .profile__header-account,
      .profile__header-help {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: .5rem 1rem;
        border-radius: .8rem;
        background-color: $bg-color-sec;
        box-shadow: $shadow_color 0px 1px 4px;
      }

      a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: $text_color-grey;

        svg {
          width: 1.3rem;
          height: 1.3rem;
          fill: $text_color-black;
        }

        &:hover {
          color: $primary_color;

          svg {
            fill: $primary_color;
          }
        }
      }

      .profile__header-logout {
        width: 50%;
        margin: auto 0 1rem;
        display: flex;
        flex-direction: column;
      }
    }

    .profile__header-content2 {
      width: 100%;
      display: flex;
      flex-direction: column;

      .back-btn {
        margin-left: 1rem;
        width: 2rem;
        height: 2rem;
        fill: $primary_color;
        cursor: pointer;

        &:hover {
          fill: $primary_color-600;
        }
      }
    }
  }
}

#popup_menu {
  ul {
    li {
      div {
        a {
          svg {
            width: 1.5rem;
            height: 1.5rem;
            fill: $text_color-black;
          }

          &:hover {
            span {
              color: $primary_color;
            }

            svg {
              fill: $primary_color;
            }
          }
        }
      }
    }
  }
}