.dashboard {
  display: grid;
  grid-template-columns: 250px 5.7fr;
  grid-template-rows: 60px 1.7fr;
  grid-template-areas:
    "Nav Header"
    "Nav Dashboard";
}

.dashboard__container--header {
  grid-area: Header;
}

.dashboard__header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  padding: 0;
  margin: 10px 30px;
  width: calc(100%-40px);
  height: 100%;
  border-radius: 20px;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboard__header .active {
  color: var(--color-orange);
}

.dashboard__header-date {
  padding: 10px;
  background-color: var(--color-light_orange);
  color: var(--color-orange);
  border-radius: 8px;
}

.dashboard__header span {
  transition: transform 0.3s ease-in-out;
}
.dashboard__header span:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}

.dashboard__header div {
  cursor: pointer;
  margin-right: 40px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.dashboard__header div:hover {
  transform: scale(1.1);
}

.dashboard__container-nav {
  grid-area: Nav;
}
.dashboard__nav {
  padding: 0;
  margin: 10px 30px;
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dashboard__nav-img {
  margin-top: 20px;
}
.dashboard__nav-img img {
  object-fit: contain;
  max-height: 9vh;
  min-width: 20vh;
}

.dashboard__nav-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.dashboard__nav-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
}
.dashboard__nav-nav span {
  font-size: 30px;
  margin-right: 20px;
}
.dashboard__nav-nav li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}
.dashboard__nav-nav li:hover {
  color: var(--color-orange);
}

.dashboard__nav-nav .active {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.dashboard__nav-nav .active:hover {
  color: var(--color-white);
}

.dashboard__container-nav2 {
  display: none;
  z-index: 9999;
}

.dashboard_container {
  grid-area: Dashboard;
  width: 100%;
  margin-top: 20px;
  min-height: calc(100vh - 80px);
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  .dashboard__header {
    height: 4rem;
    justify-content: space-between;
    padding: 0;
    margin: 10px 30px;
  }
  .dashboard__header p {
    margin-left: 2rem;
  }
  .dashboard__header span {
    display: none;
  }
  .dashboard__header div {
    margin-right: 2rem;
  }
  .dashboard__header-date {
    padding: 7px;
  }

  .dashboard__container-nav {
    display: none;
  }

  .dashboard__container-nav2 {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
  }
  .dashboard__nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 10px 30px;
    width: 1000%;
    height: 4rem;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .dashboard__nav2 span {
    cursor: pointer;
    font-size: 2.3rem;
    margin-top: 6px;
  }
  .dashboard__nav2 span:hover {
    color: var(--color-orange);
  }
  .dashboard__nav2 .active {
    color: var(--color-orange);
  }
  .dashboard__nav2 .active:hover {
    color: var(--color-white);
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */
  .dashboard {
    display: flex;
    flex-direction: column;
  }
  .dashboard__header {
    height: 4rem;
    justify-content: space-between;
    padding: 0;
    margin: 10px 30px;
  }
  .dashboard__header p {
    margin-left: 2rem;
  }
  .dashboard__header span {
    display: none;
  }
  .dashboard__header div {
    margin-right: 2rem;
  }
  .dashboard__header-date {
    padding: 7px;
  }

  .dashboard__container-nav {
    display: none;
  }

  .dashboard__container-nav2 {
    display: flex;
    position: fixed;
    justify-content: center;
    bottom: 0;
    width: 100%;
  }
  .dashboard__nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 10px 30px;
    width: 50%;
    height: 4rem;
    border-radius: 20px;
    background-color: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }
  .dashboard__nav2 span {
    cursor: pointer;
    font-size: 2.3rem;
    margin-top: 6px;
  }
  .dashboard__nav2 span:hover {
    color: var(--color-orange);
  }
  .dashboard__nav2 .active {
    color: var(--color-orange);
  }
  .dashboard__nav2 .active:hover {
    color: var(--color-white);
  }
}

/* ---------- FIN RESPONSIVE ---------- */
