@import '../../../variables';

.dashboard {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 280px 1fr;
  grid-template-rows: 90px 1fr;

  grid-template-areas:
    "Nav Header"
    "Nav Content";

  @media (max-width: 868px) {
    display: flex;
    flex-direction: column;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  img {
    width: 150px;
    animation: scale 1s infinite;
  }

  @keyframes scale {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }
  }
}