.goals {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  /* Estilos para dispositivos móviles */
  .goals {
    margin: 20px 15px;
  }
  
}
@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */

}

/* ---------- FIN RESPONSIVE ---------- */