@import '../../../variables';

.goals {
  display: flex;
  flex-direction: column;

  svg:hover {
    fill: $primary_color-600;
    cursor: pointer;
    height: 24px;
    width: 24px;
  }

  .goals__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    min-height: 22rem;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;
    padding: 2rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      text-align: center;
    }

    input[type="number"] {
      padding: 0.5rem;
      border-radius: 0.5rem;
      border: 1px solid $maskbg;
      width: auto;
    }

    .goals__salary {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      margin-bottom: 1rem;

      input {
        width: 100%;
      }
    }

    .goals__categories {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;

      .goals__categories-head {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
        padding: 1rem;
        background-color: #fff4e5;
        border-radius: .5rem;

        h4 {
          margin: 0;
          flex-grow: 1;
        }

        svg {
          cursor: pointer;
        }
      }

      .goals__category {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        background-color: #ffffff;
        border-radius: .5rem;
        box-shadow: $shadow_color 0px 1px 4px;

        input[type="text"],
        input[type="number"] {
          flex: 1;
          padding: 0.5rem;
          border-radius: 0.5rem;
          border: 1px solid $maskbg;
          width: 100%;
        }

        .goals__category-result {
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: space-between;

          span {
            font-size: 1rem;
            color: #4caf50; /* Green color for positive balance */
          }

          svg {
            cursor: pointer;
          }
        }
      }
    }
  }

  @media (max-width: 768px) {
    .goals__main {
      padding: 2rem;

    }
  }

  @media (max-width: 480px) {
    .goals__main {
      padding: 0 1.5rem;

      .goals__categories {
        .goals__category {
          display: flex;
          flex-direction: column;

          .goals__category-result {
            width: 100%;
            margin-bottom: 1rem;
          }

        }
      }
    }
  }
}
