.movements {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
}

.movements__containerMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 99%;
}

.movements__containerMain-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
  gap: 20px;
  width: 100%;
}

.movements__containerMain-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 30%;
  height: 22rem;
  padding: 1rem 0;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.movements__containerMain-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1;
  width: 30%;
  height: 22rem;
  padding: 1rem 0;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.movements__containerMain-category .material-symbols-rounded,
.movements__containerMain-chart .material-symbols-rounded {
  text-align: center;
  font-size: 80px;
  opacity: 0.3;
}

.movements__containerMain-balance {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.movements__balance {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 20px;
  width: 30%;
  height: 4rem;
  border-radius: 20px;
  padding: 20px 0 20px 0;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.movements__balance span {
  font-size: 3rem;
}

.income span {
  color: var(--primary-color-400);
}

.expenses span {
  color: var(--primary-color-900);
}

.movements__balance p {
  font-size: 1.7rem;
}

.movements__containerMain-movements {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0 20px 0;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.movements__movements-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  margin-bottom: 20px;
}

.movements__movements-text p {
  font-weight: bold;
}

.movements__movements-text span {
  cursor: pointer;
}

.movements__movements-text span:hover {
  color: var(--primary-color);
}

.movements__movements-table {
  padding: 0 2rem 1rem 2rem;
}


/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  .movements {
    margin: 20px 15px;
  }

  .movements__containerMain {
    flex-direction: column;
  }

  .movements__containerMain-selector {
    flex-direction: column;
  }

  .movements__containerMain-chart {
    width: 100%;
  }

  .movements__containerMain-category {
    width: 100%;
    display: none;
  }

  .movements__containerMain-balance {
    flex-direction: column;
    height: 11rem;
    gap: 10px;
    padding: 0;
  }

  .movements__containerMain-balance div {
    height: 3rem;
  }

  .movements__balance {
    width: 100%;
  }

  .movements__balance span {
    font-size: 2rem;
  }

  .movements__balance p {
    font-size: 1.2rem;
  }

  .movements__containerMain-movements {
    margin-bottom: 5rem;
  }

  .movements__movements-table {
    padding: 0 1rem 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .movements__containerMain-movements {
    margin-bottom: 5rem;
  }
}

/* ---------- END RESPONSIVE ---------- */