@import '../../../variables';

.movements {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  animation: fadeInOpacityTranslate 0.5s ease-in-out;

  .movements__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    .movements__main-selector {
      display: flex;
      justify-content: space-evenly;
      flex-grow: 1;
      gap: 1rem;
      width: 100%;
    }

    .movements__main-balance {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;

      .income,
      .expenses,
      .edbita {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 1rem;
        width: 100%;
        height: 4rem;
        border-radius: .8rem;
        padding: 1rem 0;
        box-shadow: $shadow_color 0px 1px 4px;
        background-color: $bg-color-sec;

        svg {
          width: 2rem;
          height: 2rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .movements__charts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  .movements__data {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 1rem;
    padding: 1rem 0;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;

    .movements__data-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      margin-bottom: 1rem;

      p {
        font-weight: bold;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        &:hover {
          fill: $primary_color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .movements__main {
      .movements__main-balance {

        .income,
        .expenses,
        .edbita {
          height: 3.5rem;

          svg {
            width: 1.5rem;
            height: 1.52rem;
          }

          p {
            font-size: 1.1rem;
          }

        }
      }
    }

    .movements__data {
      .movements__data-text {
        padding: 0 1.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    .movements__main {
      .movements__main-balance {
        flex-direction: column;

        .income,
        .expenses,
        .edbita {
          height: 3.2rem;

          p {
            font-size: 1.3rem;
          }
        }
      }
    }

    .movements__data {
      .movements__data-text {
        padding: 0 1rem;
      }
    }
  }
}