.profile {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  gap: 30px;
  min-height: calc(100% - 26px);
}

.profile__avatar {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "avatar name";
  width: 100%;
  padding: 2rem 0 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.avatar {
  grid-area: avatar;
}

.avatar div {
  border-radius: 30px;
  font-size: 3rem;
}

.name {
  grid-area: name;
}

.profile__dashboard{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.logout-button{
  width: 20%;
  padding: 1rem 0;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  .profile {
    margin: 20px 15px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {}

/* ---------- END RESPONSIVE ---------- */