.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1rem 2rem;
  min-height: calc(100% - 26px);
  padding: 3rem 0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: var(--color-white);
}

.profile__avatar {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "avatar name";
  width: 80%;
}

.avatar {
  grid-area: avatar;
}

.avatar div {
  border-radius: 30px;
  font-size: 3rem;
}

.name {
  grid-area: name;
}


/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {

  /* Estilos para dispositivos móviles */
  .profile {
    margin: 20px 15px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  /* Estilos para tablets */

}

/* ---------- FIN RESPONSIVE ---------- */