@import '../../../variables';

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .profile__header {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "avatar name";
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $text_color-white;

    .profile__header-avatar {
      grid-area: avatar;
      border-radius: 10px;
      font-size: 3rem;
      padding: 3rem;

      span {
        color: $text_color-white;
      }
    }

    .profile__header-name {
      grid-area: name;
    }
  }

  .profile__dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $text_color-white;

    .profile__dashboard-logout {
      background-color: $primary_color;
      color: $text_color-white;
      width: 20%;
      padding: 1rem;
      border: 0;
      border-radius: 1vh;
      cursor: pointer;
      transition: 0.1s;
      box-shadow: 0 0.4rem $primary_color-600;
      opacity: 0.8;

      :hover {
        background-color: $primary_color;
        font-weight: bold;
        box-shadow: 0 0.4rem $primary_color-600;
        opacity: 1;
      }

      :active {
        transform: translateY(5px);
        box-shadow: $primary_color-600 0px 3px 2px,
          $text_color-grey 0px 3px 5px;
      }
    }
  }

  @media (max-width: 768px) {}

  @media (max-width: 480px) {}

}