.profile {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
  gap: 30px;
  min-height: calc(100% - 26px);
}

.profile__header {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "avatar name";
  width: 100%;
  padding: 2rem 0 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.profile__header-avatar {
  grid-area: avatar;
  border-radius: 10px;
  font-size: 3rem;
  padding: 3rem;
}

.profile__header-avatar span {
  color: var(--text-color);
}

.profile__header-name {
  grid-area: name;
}

.profile__dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 0 2rem;
  border-radius: 20px;
  box-shadow: var(--shadow-color-primary) 0px 1px 4px;
  background-color: var(--text-color);
}

.profile__dashboard-logout {
  background-color: var(--primary-color);
  color: var(--text-color);
  width: 20%;
  padding: 1rem;
  border: 0;
  border-radius: 1vh;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0 0.4rem var(--primary-color-600);
  opacity: 0.8;
}

.profile__dashboard-logout:hover {
  background-color: var(--primary-color);
  font-weight: bold;
  box-shadow: 0 0.4rem var(--primary-color-600);
  opacity: 1;
}

.profile__dashboard-logout:active {
  transform: translatey(5px);
  box-shadow: var(--primary-color-600) 0px 3px 2px,
    var(--text-color-secondary) 0px 3px 5px;
}

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  .profile {
    margin: 20px 15px;
  }

}

@media (min-width: 768px) and (max-width: 991px) {}

/* ---------- END RESPONSIVE ---------- */