@import '../../../variables';

.reports {
    text-align: center;
    padding: 50px;

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: $primary_color;
    }

    .under-construction {
        font-size: 1.5rem;
        color: $primary_color-600;
        background-color: $primary_color-100;
        padding: 20px;
        border: 2px dashed $primary_color-300;
        display: inline-block;
        border-radius: 10px;
    }
}