@import '../../../../variables';

.annualReport {
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: fadeInOpacityTranslate 0.5s ease-in-out;

  .annualReport__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1rem;
    width: 99.9%;

    .annualReport__main-year {
      width: 100%;
    }

    .annual__chart {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 22rem;
      padding: 1rem;
      border-radius: .8rem;
      box-shadow: $shadow_color 0px 1px 4px;
      background-color: $bg-color-sec;

      .recharts-responsive-container {
        padding: 0;
        padding-top: 1rem;
      }

      div {
        animation: fadeInOpacity 0.6s ease-in-out;
      }

      @media (max-width: 480px) {
        .recharts-responsive-container {
          width: 100% !important;
          margin-left: -1rem;
        }
      }
    }

    .annualReport__main-balance {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;

      .income,
      .expenses,
      .edbita {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 1;
        gap: 1rem;
        width: 100%;
        height: 4rem;
        border-radius: .8rem;
        box-shadow: $shadow_color 0px 1px 4px;
        background-color: $bg-color-sec;

        svg {
          width: 2rem;
          height: 2rem;
        }

        p {
          font-size: 1.5rem;
        }
      }
    }
  }

  .annualReport__categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    width: 100%;
    padding: 1rem 0;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;

    .annualReport__categories-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem;
      margin-bottom: 1rem;

      p {
        font-weight: bold;
      }

      svg {
        width: 1.5rem;
        height: 1.5rem;
        cursor: pointer;

        &:hover {
          fill: $primary_color;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .annualReport__main {
      .annualReport__main-balance {

        .income,
        .expenses,
        .edbita {
          height: 3.5rem;

          svg {
            width: 2rem;
            height: 2rem;
          }

          p {
            font-size: 1.1rem;
          }
        }
      }
    }

    .annualReport__categories {
      .annualReport__categories-text {
        padding: 0 1.5rem;
      }
    }
  }

  @media (max-width: 480px) {
    .annualReport__main {
      .annualReport__main-balance {
        flex-direction: column;

        .income,
        .expenses,
        .edbita {
          width: 100%;

          p {
            font-size: 1.2rem;
          }
        }
      }
    }

    .annualReport__categories {
      .annualReport__categories-text {
        padding: 0 1rem;
      }
    }
  }
}