@import "../../../../variables";

.movements-history-skeleton {
    animation: fadeInOpacity 0.6s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .movement-item-skeleton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.7rem 0;

        .description-section {
            display: flex;
            flex-direction: column;

            .skeleton-text {
                background-color: $skeleton_color;
                border-radius: 0.8rem;
                position: relative;
                overflow: hidden;

                &.skeleton-description {
                    width: 10rem;
                    height: 1rem;
                    margin-bottom: 0.2rem;
                }

                &.skeleton-date {
                    width: 6rem;
                    height: 0.8rem;
                    margin-top: 0.2rem;
                }

                // Add the gradient effect
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(
                        90deg,
                        rgba(224, 224, 224, 0),
                        $skeleton_color-2,
                        rgba(224, 224, 224, 0)
                    );
                    background-size: 200% 100%;
                    animation: pulse-gradient 1.5s infinite ease-in-out;
                }
            }
        }

        .skeleton-amount {
            background-color: $skeleton_color;
            border-radius: 0.8rem;
            width: 60px;
            height: 1rem;
            position: relative;
            overflow: hidden;

            // Add the gradient effect
            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(
                    90deg,
                    rgba(224, 224, 224, 0),
                    $skeleton_color-2,
                    rgba(224, 224, 224, 0)
                );
                background-size: 200% 100%;
                animation: pulse-gradient 1.5s infinite ease-in-out;
            }
        }
    }
}
