@import "../../../../variables";

.balances-container-skeleton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;
    padding: 1rem;

    .amount-skeleton,
    .comparison-skeleton .percentage-skeleton {
        background-color: $skeleton_color;
        border-radius: 0.25rem;
        position: relative;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(
                90deg,
                rgba(224, 224, 224, 0),
                $skeleton_color-2,
                rgba(224, 224, 224, 0)
            );
            background-size: 200% 100%;
            animation: pulse-gradient 1.5s infinite ease-in-out;
        }
    }

    .amount-skeleton {
        width: 50% !important;
        height: 2rem;
        margin: 0.5rem 0;
    }

    .comparison-skeleton {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        .percentage-skeleton {
            width: 80%;
            height: 1rem;
        }
    }
}


