@import '../../../../../../variables';

.annual__categories {
    padding: 0 2rem 1rem;

    .filter-bar {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;

        .search-dropdown-container {
            display: flex;
            align-items: center;
            gap: 1rem;

            .p-inputtext-custom {
                width: 15rem;
                height: 2rem;
                border-radius: .5rem;
                box-shadow: $shadow_color 0px 1px 4px;
            }

            .p-dropdown-custom {
                width: 15rem;
                height: 2rem;
                border-radius: .5rem;
                padding: 0;
            }
        }
    }

    .categories-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        animation: fadeInOpacity 0.6s ease-in-out;

        .category-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $bg-color;
            }

            .category-color {
                width: 5%;
                display: flex;
                justify-content: center;
                align-items: center;

                .category-color-circle {
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                }
            }

            .category-name {
                width: 55%;
                font-weight: 400;
                font-size: 1rem;
            }

            .category-balance {
                width: 35%;
                text-align: right;
                padding-right: 1rem;
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 0 1.5rem 1rem;

        .filter-bar {
            display: flex;
            justify-content: center;

            .search-dropdown-container {
                display: flex;
                width: 100%;

                .p-inputtext-custom,
                .p-dropdown-custom {
                    flex: 1;
                }
            }
        }

        .categories-list {
            .category-item {
                .category-color {
                    width: 7%;
                }

                .category-name {
                    width: 50%;
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0 1rem 1rem;

        .filter-bar {
            display: flex;

            .p-inputtext-custom {
                display: none;
            }
        }

        .categories-list {
            .category-item {
                .category-color {
                    width: 15%;
                }

                .category-name {
                    width: 43%;
                    font-size: .9rem;
                }

                .category-balance {
                    width: 43%;
                    font-size: .9rem;
                    text-align: right;
                }
            }
        }
    }
}