@import '../../../../../variables';

.goals {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    animation: fadeInOpacityTranslate 0.5s ease-in-out;

    .goals__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem 1rem;
        border-radius: 0.8rem;
        box-shadow: $shadow_color 0px 1px 4px;
        background-color: $bg-color-sec;

        h2 {
            font-size: 1.2rem;
            font-weight: 600;
        }
    }

    .goals__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 1rem;
    }
}

@media (max-width: 768px) {
    .goals {
        &__content {
            grid-template-columns: 1fr;
        }
    }

    .goal-card {
        &__content {
            padding: 1rem;
        }
    }
}