@import '../../../variables'; // Asegúrate de que la ruta al archivo de variables es correcta

.authForms {
  .auth__header {
    display: flex;
    justify-content: center;

    img {
      margin-top: 1rem;
      width: 15rem;
    }
  }

  .container__form {
    display: flex;
    justify-content: center;
    margin: 5rem auto;
    padding: 2rem 2rem;
    max-width: 700px;
    border-radius: 25px;
    background: $text-color-white;
    box-shadow: 0px 8px 17px #171a1f26,
      0px 0px 2px #171a1f1f;

    form {
      display: flex;
      flex-direction: column;
      text-align: center;
      min-width: 90%;

      .form__title {
        font-size: 2rem;
        text-transform: uppercase;
        color: $primary_color;
      }

      .form__password-container {
        position: relative;
        display: flex;
        align-items: center;

        .form__password {
          width: 100%;
          padding-right: 40px;
        }

        .password-toggle-btn {
          position: absolute;
          color: $primary_color-800;
          top: 37%;
          right: 5px;
          transform: translateY(-50%);
          background: none;
          border: none;
          cursor: pointer;
        }
      }

      .form__forgot {
        text-align: left;
        margin-bottom: 1rem;
      }

      .form__link {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        a {
          color: $primary_color;
        }
      }
    }
  }

  @media (max-width: 768px) {

    .auth__header {
      img {
        margin-top: 1rem;
        width: 15rem;
      }
    }

    .container__form {
      margin: 4rem auto;
      width: 400px;

      form {
        input {
          height: 2.8rem;
        }
      }
    }
  }

  @media (max-width: 480px) {
    .container__form {
      margin: 4rem auto 6rem auto;
      width: 90%;

      form {
        width: 100%;

        .form__title {
          font-size: 1.7rem;
        }

        input {
          border-radius: 10px;
        }
      }
    }
  }
}