.backHome {
  display: block;
  margin: 2rem;
  font-weight: bold;
  font-size: 1.2rem;
  transition: color 0.3s;
  text-transform: uppercase;
  transition: letter-spacing 0.3s ease;
  letter-spacing: normal;
}

.backHome:hover {
  letter-spacing: 2px;
}

.title {
  display: flex;
  justify-content: center;
  color: var(--color-orange);
}

.legal {
  margin: 2vw 10vw;
}

.legal h3 {
  margin-top: 3rem;
}