@import '../../../variables';

.cookies {
  .backHome {
    display: block;
    margin: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: color 0.3s, letter-spacing 0.3s ease;
    letter-spacing: normal;

    &:hover {
      letter-spacing: 2px;
    }
  }

  .title {
    display: flex;
    justify-content: center;
    color: $primary_color;
  }

  .legal {
    margin: 2vw 10vw;

    h3 {
      margin-top: 3rem;
    }
  }
}