/* ---------- HEADER ---------- */
header {
  padding: 1vh;
  position: relative;
}

.header__container_login,
.header__container_register {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5vh;
  padding-right: 5vh;
}

.header__logo img {
  object-fit: contain;
  max-height: 9vh;
  min-width: 20vh;
}
/* ---------- END HEADER ---------- */

/* ---------- MAIN ---------- */
.container__form {
  display: flex;
  justify-content: center;
  margin: 10vh auto;
  padding: 6vh 3vh;
  width: 40%;
  border-radius: 4vh;
  background: var(--text-color);
  box-shadow: 0px 8px 17px rgba(23, 26, 31, 0.15),
    0px 0px 2px rgba(23, 26, 31, 0.12);
}
.container__form .form__title {
  font-size: 2rem;
}
.container__form form {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 90%;
}
.container__form h2 {
  text-transform: uppercase;
  color: var(--primary-color);
}
.container__form input {
  min-width: 70%;
  background-color: var(--background-color);
  margin-bottom: 6%;
  border: 0;
  border-radius: 1vh;
  padding: 3%;
  box-shadow: 0 0.4rem var(--surface-700);
}
.container__form input:focus {
  outline: none;
}
.container__form input::placeholder {
  color: var(--gray-400);
}
.container__form a {
  text-align: left;
  margin-bottom: 3%;
  text-decoration: none;
  color: var(--text-color-secondary);
}
.container__form button[type="submit"] {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 3%;
  border: 0;
  border-radius: 1vh;
  cursor: pointer;
  transition: 0.1s;
  box-shadow: 0 0.4rem var(--primary-color-600);
  opacity: 0.8;
}
.container__form button[type="submit"]:hover {
  background-color: var(--primary-color);
  font-weight: bold;
  box-shadow: 0 0.4rem var(--primary-color-600);
  opacity: 1;
}
.container__form button[type="submit"]:active {
  transform: translatey(5px);
  box-shadow: var(--primary-color-600) 0px 3px 2px,
    var(--text-color-secondary) 0px 3px 5px;
}
.form__link a {
  margin-left: 10px;
}

.form__box a {
  color: var(--primary-color);
  text-decoration: none;
}
.form__box a:hover {
  color: var(--primary-color-600);
}
/* ---------- END MAIN ---------- */

/* ---------- RESPONSIVE ---------- */
@media (max-width: 767px) {
  /* header */
  .header__container_login,
  .header__container_register {
    justify-content: center;
  }

  /* main */
  .container__form {
    width: 90%;
  }
  .container__form .form__title {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* header */
  .header__container_login,
  .header__container_register {
    justify-content: center;
  }

  /* main */
  .container__form {
    width: 60%;
  }
  .container__form .form__title {
    font-size: 1.8rem;
  }
}

/* ---------- END RESPONSIVE ---------- */
