@import '../../../../variables';

.dashboard__content {
    grid-area: Content;
    width: 100%;
    min-height: calc(100vh - 122px);
    padding: 0 1rem 1rem 0;

    @media (max-width: 868px) {
        padding: 0 1rem;
        margin: 6.3rem 0 6rem;
        height: 100%;
    }

    @media (max-width: 480px) {
        padding: 0 .5rem;
    }
}