.dashboard {
  display: grid;
  grid-template-columns: 250px 5.7fr;
  grid-template-rows: 60px 1.7fr;
  grid-template-areas:
    "Nav Header"
    "Nav Dashboard";
}

.dashboard__header {
  grid-area: Header;
  padding: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: var(--color-white);
}

.dashboard__header .active {
  color: var(--color-orange);
}

.dashboard__header-date {
  padding: 10px;
  background-color: var(--color-light_orange);
  color: var(--color-orange);
  margin-right: 20px;
  border-radius: 8px;
}

.dashboard__header span {
  transition: transform 0.3s ease-in-out;
}
.dashboard__header span:hover {
  transform: scale(1.1);
  color: var(--color-orange);
}

.dashboard__header div {
  cursor: pointer;
  margin: 0 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}
.dashboard__header div:hover {
  transform: scale(1.1);
}

.dashboard__nav {
  grid-area: Nav;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-white);
}

.dashboard__nav-img img {
  object-fit: contain;
  margin: 0 30px;
  max-height: 9vh;
  min-width: 20vh;
}

.dashboard__nav-nav {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.dashboard__nav-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 40px 0 0 0;
}
.dashboard__nav-nav span {
  font-size: 25px;
  margin-right: 20px;
}
.dashboard__nav-nav li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  cursor: pointer;
}
.dashboard__nav-nav li:hover {
  color: var(--color-orange);
}
.dashboard__nav-nav .active {
  color: var(--color-white);
  background-color: var(--color-orange);
  border-radius: 10px;
  transition: background-color 0.5s ease, color 0.5s ease;
}
.dashboard__nav-nav .active:hover {
  color: var(--color-white);
}

.dashboard_container {
  grid-area: Dashboard;
  width: 100%;
  min-height: calc(100vh - 60px);
}
