@import '../../../../_variables.scss';

.account__item {
  margin: 15px;
  width: 300px;
  height: 10rem;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $shadow_color 0px 3px 6px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin: 20px 0 0 20px;
  }

  span {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    margin: 0 20px 20px 0;
  }
}