@import '../../../../_variables.scss';

.account__item {
  margin: .4rem;
  flex: 1 1 300px;
  height: 10rem;
  border-radius: .8rem;
  cursor: pointer;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $shadow_color 0px 3px 6px;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }

  p {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    margin: 1.2rem 0 0 1.2rem;
  }

  span {
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    margin: 0 1.2rem 1.2rem 0;
  }
}