@import '../../../../_variables.scss';

.formAccount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    border-radius: 15px;

    p {
        text-align: center;
    }

    .formAccount-dropdown {
        width: 90%;
    }

    .dataYear {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        background-color: $text_color-white;
        box-shadow: $shadow_color 0px 1px 4px;

        .dataYear-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                flex: 1.5;
            }

            input {
                flex: 2;
                padding: 5px;
                border-radius: 5px;
                border: 0.5px solid $surface-800;
            }
        }
    }

    .colorPiker {
        width: 90%;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        background-color: $text_color-white;
        box-shadow: $shadow_color 0px 1px 4px;

        .p-colorpicker {
            display: flex;
            align-items: center;
        }
    }

    .formAccount-buttons {
        display: flex;
        justify-content: center;
        gap: 10px;
        width: 100%;
    }

    button {
        width: 35%;
    }

    @media (max-width: 768px) {
        button {
            width: 40%;
        }
    }

    @media (max-width: 480px) {
        .dataYear {
            width: 95%;
        }

        input {
            width: 95%;
        }

        .formAccount-category {
            border: 0;
            width: 95%;
        }

        button {
            width: 40%;
        }
    }

}