@import "../../../../variables";

.security-privacy {
  padding: 2rem;
  width: 100%;

  h2 {
    margin-bottom: 1rem;
  }

  .security-privacy__section {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;

    label {
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}