@import '../../../../variables';

.settings {
    padding: 2rem;
    width: 100%;

    .settings__details {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;


        .settings__section {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            label {
                font-weight: bold;
            }

            .profile-picture {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1rem;

                .profile-picture__img {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    object-fit: cover;
                }

                .profile-picture__placeholder {
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: $primary_color-200;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            input {
                width: 100%;
            }

            .language-dropdown {
                width: 100%;
                border-radius: 0.5rem;
                margin-bottom: 0.3rem;
            }

            .language-item {
                display: flex;
                align-items: center;

                .language-flag {
                    width: 1.5rem;
                    height: 1rem;
                    margin-right: .5rem;
                }
            }
        }
    }

}