@import "../../../../variables";

.settings {
  width: 90%;

  h2 {
    margin-bottom: 2rem;
  }

  .settings__details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;
    padding: 1rem;

    .settings__section {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      label {
        font-weight: bold;
      }

      .profile-picture {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        .profile-picture__img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          object-fit: cover;
        }

        .profile-picture__placeholder {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background-color: $primary_color-200;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      input {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: $bg-color;
      }

      .language-dropdown {
        width: 100%;
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        background-color: $bg-color;

        .p-inputtext {
          padding: 0rem 0.5rem;
        }
      }

      .language-item {
        display: flex;
        align-items: center;

        .language-flag {
          width: 1.5rem;
          height: 1rem;
          margin-right: 0.5rem;
        }
      }

      &:last-child {
        margin-top: 1rem;
      }
    }
  }
}