@import '../../../../../../variables';

.movements-history-home {
    animation: fadeInOpacity 0.6s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .movement-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.6rem 0;

        .description-section {
            display: flex;
            flex-direction: column;

            .description {
                font-weight: 600;
                font-size: 1rem;
            }

            .date {
                font-size: 0.8rem;
                color: #888888;
                margin-top: 0.2rem;
            }
        }

        .amount {
            font-size: 1rem;
        }
    }
}