@import '../../../../../../variables';

.balances-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;
    padding: 1rem;

    .amount {
        font-size: 1.6rem;
        font-weight: 600;
        color: $primary_color-900;
    }

    .comparison {
        display: flex;
        align-items: center;
        font-size: 0.8rem;

        .percentage {
            display: inline-flex;
            align-items: center;
            padding: 0.3rem 0.5rem;
            border-radius: 1rem;
            margin-right: 0.2rem;

            &.positive {
                color: #28a745;
                background-color: #e6f4ea;
            }

            &.negative {
                color: #dc3545;
                background-color: #f8d7da;
            }
        }
    }
}