@import '../../../../variables';

.formMovements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 15px;

  input {
    background-color: $text_color-white;
    border: 0;
    width: 85%;
    border-radius: 10px;
    padding: 0.8rem;
    transition: border-color, box-shadow 0.3s ease-in-out;
    outline: none;
    box-shadow: 0 0.4rem $surface-700;
    margin-bottom: 10px;

    :focus {
      outline: none;
      border-color: $primary_color;
      box-shadow: 0 0.4rem $primary_color;
    }
  }

  .formMovements-category {
    border: 0;
    width: 85%;
    background-color: $text_color-white;
    border-radius: 10px;
    padding: 0.3rem 0 0.3rem 0.8rem;
    margin: 5px 0;
    transition: border-color, box-shadow 0.3s ease-in-out;
    outline: none;
    box-shadow: 0 0.4rem $surface-700;

    :focus {
      outline: none;
      border-color: $primary_color;
      box-shadow: 0 0.4rem $primary_color;
    }

    .p-inputtext {
      background-color: inherit;
      border: 0;
      padding: 0.55rem 0;
      margin: 0;
      transition: none;
      outline: none;
      box-shadow: none;
    }
  }

  button {
    width: 35%;
  }

  .formMovements-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  @media (max-width: 768px) {

    input,
    .formMovements-category {
      width: 90%;
    }

    button {
      width: 40%;
    }
  }

  @media (max-width: 480px) {

    input,
    .formMovements-category {
      width: 90%;
    }

    button {
      width: 40%;
    }
  }
}