@import "../../../../variables";

.movements__table {
    padding: 0 2rem 1rem;

    .movements-list {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .movement-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #f7f7f7;
            }

            .description-section {
                display: flex;
                flex-direction: column;
                flex: 1;
                padding-left: 1rem;

                .description {
                    font-weight: 500;
                    font-size: 1rem;
                }

                .date {
                    font-size: 0.8rem;
                    color: #888888;
                    margin-top: 0.2rem;
                }
            }

            .category,
            .category-mobile {
                flex: 1;
                font-size: 1rem;
                text-align: left;
                display: flex;
                align-items: center;

                .category-color-circle {
                    width: 1rem;
                    height: 1rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
            }

            .amount {
                width: 20%;
                font-size: 1rem;
                text-align: right;
                padding-right: 1rem;
            }

            .category-mobile {
                flex: 0;
                display: none;
            }
        }
    }


    @media (max-width: 768px) {
        padding: 0 1.5rem 1rem;

        .movements-list {
            .movement-item {
                .description-section {
                    width: 40%;
                }

                .category {
                    width: 25%;
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0 1rem 1rem;

        .movements-list {
            .movement-item {
                .description-section {
                    width: 50%;
                    padding-left: 0;
                }

                .category {
                    display: none;
                }

                .amount {
                    width: 25%;
                }

                .category-mobile {
                    padding-left: 1rem;
                    flex: 0;
                    display: flex;
                }
            }
        }
    }
}