@import "../../../../variables";

.movements__chart {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 180px;
    width: 30%;
    height: 22rem;
    padding: 1rem 0;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $bg-color-sec;

    div {
        animation: fadeInOpacity 0.6s ease-in-out;
    }

    @media (max-width: 768px) {
        width: 100%;
    }

    @media (max-width: 480px) {
        .recharts-responsive-container {
            width: 100% !important;
            margin-left: -1rem;
        }
    }
}