@import "../../../../variables";

.movements__pie-category {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 200px;
    width: 30%;
    height: 22rem;
    padding: 1rem 0;
    border-radius: .8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $text_color-white;

    @media (max-width: 480px) {
        min-width: 120px;
        height: 15rem;
    }
}