.formAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 1rem 2rem 1rem;
  width: 350px;
  border-radius: 15px;
}

.formAccount>p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.formAccount-closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formAccount-closeButton:hover {
  color: var(--primary-color);
}