.annualReport {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.annualReport__main {
  background-color: var(--color-white);
  margin-top: 20px;
  width: 98%;
  border-radius: 25px;
  padding: 20px 0 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.annualReport__main-year {
  display: flex;
  width: 90%;
  justify-content: flex-end;
}
.annualReport__main-year div > div > div {
  padding: 10px 30px 10px 15px;
}
.annualReport__main-year div > label:active {
  color: var(--color-white);
}

.annualReport__main-balance {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1rem;
}
.annualReport__main-balance span {
  padding: 9px 10px;
  border-radius: 8px;
  width: fit-content;
}
.annualReport__main-balance span.income {
  background-color: var(--color-light_green);
  color: var(--color-green);
}
.annualReport__main-balance span.expenses {
  background-color: var(--color-light_red);
  color: var(--color-red);
}

.annualReport__main-chart {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 2rem;
}

.annualReport__category {
  background-color: var(--color-white);
  margin-top: 20px;
  width: 98%;
  padding: 20px 0 20px 0;
  border-radius: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.annualReport__category-text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 40px;
  margin-bottom: 20px;
}
.annualReport__category-text p {
  font-weight: bold;
}
.annualReport__category-text span {
  cursor: pointer;
}
.annualReport__category-text span:hover {
  color: var(--color-orange);
}
