.formMovements {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
  width: 350px;
  border-radius: 15px;
}

.formMovements-closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formMovements-closeButton:hover {
  color: var(--primary-color);
}

.formMovements-buttons {
  display: flex;
  gap: 1rem;
}

.formMovements-category {
  width: 80%;
}

.formMovements-balance {
  width: 80%;
}