.formAccounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 15px;
}

.formAccounts-closeButton {
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 15px 0 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.formAccounts-closeButton:hover {
  color: var(--primary-color);
}

.formAccounts-buttons {
  display: flex;
  gap: 1rem;
}

.formAccounts-category {
  width: 80%;
}

.formAccounts-balance {
  width: 80%;
}

.formAccounts input {
  background-color: var(--text-color-white);
  border: 1px solid var(--gray-100);
  width: 70%;
  border-radius: 7px;
  padding: 1rem;
  margin: 5px 0;
  transition: border-color, box-shadow 0.3s ease-in-out;
  outline: none;
  box-shadow: 0 0.4rem var(--surface-700);
}

.formAccounts input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0.4rem var(--primary-color);
}

@media screen and (max-width: 960px) {

  .formAccounts input {
    width: 98%;
  }
}