@import '../../../../variables';

.annual__categories-skeleton {
    display: flex;
    flex-direction: column;
    padding: 0 0 1rem;
    gap: 1rem;

    .category-item-skeleton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 0;
        gap: 1rem;
        width: 100%;

        .category-color-skeleton {
            width: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .category-name-skeleton {
            width: 55%;
        }

        .category-balance-skeleton {
            width: 35%;
            display: flex;
            justify-content: flex-end;
        }
    }

    @media (max-width: 768px) {
        padding: 0 0 1rem;

        .category-item-skeleton {
            .category-color-skeleton {
                width: 7%;
            }

            .category-name-skeleton {
                width: 50%;
            }

            .category-balance-skeleton {
                width: 43%;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0 0 1rem;

        .category-item-skeleton {
            .category-color-skeleton {
                width: 15%;
            }

            .category-name-skeleton {
                width: 40%;
                font-size: 0.9rem;

                .p-skeleton {
                    width: 100% !important;
                }
            }

            .category-balance-skeleton {
                width: 45%;
                font-size: 0.9rem;
                text-align: right;
            }
        }
    }
}