@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  background-color: var(--background-color);
  color: var(--text-color-secondary);
  font-family: "Rubik", sans-serif;

  --negative-color: red;
  --positive-color: green;

  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--primary-color-light);
}

button {
  background-color: var(--primary-color);
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  color: var(--text-color-white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--primary-color-600);
  color: var(--text-color);
  transform: scale(1.03);
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--primary-color-600);
  cursor: pointer;
}

.negative {
  color: var(--negative-color);
}

.positive {
  color: var(--positive-color);
}

.no-select {
  user-select: none;
}

/* PrimeReact */
.custom-spinner .p-progress-spinner-circle {
  stroke: var(--primary-color) !important;
}
.custom-spinner-secondary .p-progress-spinner-circle {
  stroke: var(--primary-color-800) !important;
}
.textFieldCustomPadding {
  padding: 12px 10px;
}
.p-toast-message .p-toast-icon-close {
  display: none;
}

/* Rechart */
.recharts-default-tooltip {
  border-radius: 15px;
}


/* Popup Styles */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--text-color);
  border-radius: 20px;
  box-shadow: 0 2px 10px var(--shadow-color-primary);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  z-index: 1000;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 20px;
}