@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --color-white: #fff;
  --color-bg: #f7f7f7;
  --color-black: #000;
  --color-grey: #383d46;
  --color-grey-sec: #a3a3a3;

  --color-orange: #fe6f14;
  --color-orange-50: #fff7ed;
  --color-orange-100: #ffecd4;
  --color-orange-200: #ffd5a8;
  --color-orange-300: #ffb771;
  --color-orange-400: #ff8e38;
  --color-orange-500: #ef5107;
  --color-orange-600: #c84f03;
  --color-orange-700: #c63b08;
  --color-orange-800: #9d300f;
  --color-orange-900: #7e2a10;
  --color-orange-950: #441206;
  --color-light_orange: #ffc69e61;

  background-color: var(--color-bg);
  color: var(--color-grey);
  font-family: "Rubik", sans-serif;

  scroll-behavior: smooth;

  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-light_orange);
}

button {
  background-color: var(--color-orange);
  padding: 8px 10px;
  border: none;
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: var(--color-orange-600);
  color: var(--color-white);
  transform: scale(1.03);
}

a {
  color: var(--color-orange);
  text-decoration: none;
}

a:hover {
  color: var(--color-orange-600);
  cursor: pointer;
}

.negative {
  color: red;
}

.positive {
  color: green;
}

.no-select {
  user-select: none;
}

/* mui selector*/
div.MuiInputBase-root.css-1a2qpli,
fieldset.css-igs3ac {
  border-radius: 15px;
}

/* TABLA mui */
.row-even {
  background-color: var(--color-orange-50);
}

.row-odd {
  background-color: #ffffff;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  text-align: center;
  z-index: 1000;
}

.popup h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.popup p {
  font-size: 16px;
  margin-bottom: 20px;
}