@import '../variables';
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  background-color: $bg-color;
  color: $text_color-grey;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-y: scroll;

  ::selection {
    background-color: $primary_color-light;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: $primary_color $bg-color;

  &::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary_color;
    border-radius: 15px;
    border: 2px solid $bg-color;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $primary_color-600;
  }
}

body {
  margin: 0;
  padding: 0;


  a {
    color: $primary_color;
    text-decoration: none;

    &:hover {
      color: $primary_color-600;
      cursor: pointer;
    }
  }

  .form-button {
    background-color: $primary_color;
    padding: 8px 10px;
    border: none;
    border-radius: 8px;
    color: $text_color-white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin-top: 1rem;

    &:hover {
      background-color: $primary_color-600;
      color: $text_color-white;
      transform: scale(1.03);
    }
  }

  input.auth-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 70%;
    background-color: $bg-color;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0.4rem $surface-700;
    color: #383d46;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $surface-400;
    }

    @media (max-width: 768px) {
      font-size: .8rem;
    }
  }

  input.custom-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: $text_color-white;
    border: 0;
    width: 90%;
    border-radius: 10px;
    padding: 0.8rem;
    box-shadow: $shadow_color 0px 1px 4px;
    transition: border-color, box-shadow 0.3s ease-in-out;
    outline: none;
    margin-bottom: 10px;
    color: #383d46;
    font-size: 1rem;
    font-family: "Rubik", sans-serif;

    :focus {
      outline: none;
      border-color: $primary_color;
      box-shadow: 0 0.4rem $primary_color;
    }

    @media (max-width: 480px) {
      width: 95%;
    }
  }

  .formMovements-dropdown {
    width: 90%;
    border-radius: 10px;
    padding: 0.3rem 0 0.3rem 0.3rem;

    @media (max-width: 480px) {
      width: 95%;
    }
  }

  button.custom-btn {
    background-color: $primary_color;
    color: $text_color-white;
    padding: 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.1s;
    box-shadow: 0 0.4rem $primary_color-600;
    opacity: 0.9;
    margin-top: 1rem;
    font-weight: bold;

    &:hover {
      background-color: $primary_color;
      box-shadow: 0 0.4rem $primary_color-600;
      opacity: 1;
    }

    &:active {
      transform: translateY(5px);
      box-shadow: $primary_color-600 0px 3px 2px,
        $text_color-grey 0px 3px 5px;
    }
  }

  .form-confirmBtn {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2rem;

    p {
      text-align: center;
    }

    button.custom-btn {
      background-color: $primary_color;
      color: $text_color-white;
      padding: 8px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: 0.1s;
      box-shadow: 0 0.4rem $primary_color-600;
      margin-top: .5rem;

      &:hover {
        background-color: $primary_color;
        font-weight: bold;
        box-shadow: 0 0.4rem $primary_color-600;
        opacity: 1;
      }

      &:active {
        transform: translateY(5px);
        box-shadow: $primary_color-600 0px 3px 2px,
          $text_color-grey 0px 3px 5px;
      }
    }
  }

  .negative {
    fill: $negative-color;
    color: $negative-color;
  }

  .positive {
    fill: $positive-color;
    color: $positive-color;
  }

  .no-select {
    user-select: none;
  }

  .income svg {
    fill: $primary-color-400;
  }

  .expenses svg {
    fill: $primary-color-800;
  }

  svg.custom-icon {
    width: 3rem;
    height: 3rem;
    opacity: .3;
  }

  .custom-loader {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    display: block;
    margin: 4px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }

  @keyframes animloader {
    0% {
      box-shadow: -38px -12px, -14px 0, 14px 0, 38px 0;
    }

    33% {
      box-shadow: -38px 0px, -14px -12px, 14px 0, 38px 0;
    }

    66% {
      box-shadow: -38px 0px, -14px 0, 14px -12px, 38px 0;
    }

    100% {
      box-shadow: -38px 0, -14px 0, 14px 0, 38px -12px;
    }
  }

  .custom-spinner circle {
    stroke: $primary_color !important;
  }
}

/* Rechart */
.recharts-default-tooltip {
  border-radius: 15px;
}

.recharts-cartesian-grid-horizontal,
.recharts-cartesian-grid-vertical {
  line {
    stroke: #dadada;
  }
}


/* Toast */
@media (max-width: 960px) {
  .p-toast-bottom-right {
    top: 10px !important;
    bottom: auto !important;
    right: 0 !important;
  }
}