@import '../../../../variables';

.annual__categories-table {
    padding: 0 2rem 1rem;

    .p-datatable.p-component {
        border-radius: 8px;
        overflow: hidden;

        .annual__categories-options {
            display: flex;

            svg {
                width: 1.1rem;
                height: 1.1rem;
            }

            :hover {
                cursor: pointer;
                fill: $primary_color;
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0 .5rem 1rem;
    }

}