@import '../../../../variables';

.annual__chart {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 22rem;
    padding-top: 1rem;
    border-radius: 20px;
    box-shadow: $shadow_color 0px 1px 4px;
    background-color: $text_color-white;
}