@import '../../../../variables';

.formCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  border-radius: 15px;

  p {
    text-align: center;
  }

  input {
    background-color: $text_color-white;
    width: 85%;
  }

  .formCategories-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  button {
    width: 35%;
  }

  @media (max-width: 480px) {
    input {
      width: 85%;
    }

    button {
      width: 40%;
    }
  }

}