@import '../../../../variables';

.formCategories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;

  p {
    text-align: center;
  }

  .formCategoriesContainer {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 90%;

    .formCategoriesContainer-colorPicker {
      display: flex;
      justify-content: center;
      padding: .5rem;
      border-radius: .5rem;
      background-color: $bg-color-sec;
      box-shadow: $shadow_color 0px 1px 4px;

      .p-colorpicker {
        display: flex;
        align-items: center;
      }
    }

    .custom-input {
      margin: 0;
    }
  }

  .formCategories-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  button {
    width: 35%;
  }

  @media (max-width: 768px) {


    .formCategoriesContainer {
      width: 95%;
    }

    button {
      width: 40%;
    }
  }

  @media (max-width: 480px) {
    button {
      width: 40%;
    }
  }

}